<mat-card class="home-card-description-destination" (click)="viewDetails(ticketData)">
  <mat-card-content style="text-align: center">
    <h3 style="margin-bottom: 3px">{{ticketData.startLocation.townOrMunicipality}}
      , {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}</h3>

    <mat-icon *ngIf="ticketData.returnTicket === false" style="font-size: 30px; text-align: center;">arrow_downward
    </mat-icon>
    <mat-icon *ngIf="ticketData.returnTicket === true" style="font-size: 30px; text-align: center;">swap_vert</mat-icon>

    <h3 style="margin-top: 3px">{{ticketData.destinationLocation.townOrMunicipality}}
      , {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}</h3>

    <div class="card-content">
      <p><span><b>One way ticket: </b><span style="color: green">{{ticketData.oneWayPrice}} {{currency}}</span></span></p>
      <p><span><b>Return ticker: </b><span style="color: green">{{ticketData.returnTicketPrice}} {{currency}}</span></span></p>
      <p><span><b>Available tickets: </b>{{ticketData.availableSeats}}</span></p>
      <p><span><b>Return ticket: </b> <span *ngIf="ticketData.returnTicket === false">No</span>
          <span *ngIf="ticketData.returnTicket === true">Yes</span></span></p>
      <p><span><b>Type of relation: </b>
       <span *ngIf="ticketData.typeOfRelation === 'weekly'">Weekly</span>
        <span *ngIf="ticketData.typeOfRelation === 'select_days'">Select days</span>
        <span *ngIf="ticketData.typeOfRelation === 'every_day'">Every day</span></span></p>
      <p><span><b>Type of transport vehicle: </b>{{ticketData.typeOfTransportationVehicle}}</span></p>
    </div>
  </mat-card-content>
</mat-card>
