<mat-card class="align-center-item" style="width: 700px; height: 500px">
  <mat-card-title>
    Sign Up
  </mat-card-title>
  <mat-card-header>
    <p>Create your Account</p>
  </mat-card-header>

  <mat-card-content>

    <form name="f" [formGroup]="f">

      <div style="width: 100%">
        <mat-form-field style="width: 40%" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="First Name" formControlName="firstName">
        </mat-form-field>

        <mat-form-field style="width: 40%; padding-left: 10%" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>

      <div style="width: 100%">
        <mat-form-field style="width: 40%">
          <mat-select placeholder="Gender" formControlName="gender" name="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.viewValue">
              {{ gender.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="register-inputs-width" style="width: 40%; padding-left: 10%">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dateOfBirth"
                 formControlName="date_of_birth"
                 placeholder="Date of birth: MM/DD/YYYY">
          <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
      </div>

      <p>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="text-right-grid">
        <button style="width: 200px; font-size: larger;"
                [disabled]="disableRegisterButton" (click)="registerAccount()" mat-raised-button color="primary">
          Sign Up
        </button>
        <mat-error *ngIf="invalidCredentials">
          <h3>Please enter <strong>valid</strong> credentials</h3>
        </mat-error>
      </div>
    </form>
  </mat-card-content>
</mat-card>
