<form name="f" [formGroup]="f">
  <div style="width: 550px;">
    <mat-form-field style="width: 350px">
      <mat-select formControlName="typeOfTransportationVehicle"
                  placeholder="Select type of transportation vehicle">
        <div *ngFor="let option of typeOfTransportVehicles">
          <mat-option value="{{option.value}}">{{option.label}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <mat-form-field style="width: 150px; padding-left: 30px" appearance="outline">
      <mat-label>Available Seats</mat-label>
      <input matInput type="number" placeholder="Available Seats" formControlName="availableSeats">
    </mat-form-field>
  </div>

  <div style="width: 550px">
    <mat-form-field style="width: 550px">
      <mat-select formControlName="typeOfRelation"
                  placeholder="Select when your relation will be available">
        <div *ngFor="let option of typesOfRelation">
          <mat-option value="{{option.value}}">{{option.label}}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="width: 550px">
    <app-weekly-relation *ngIf="f.controls['typeOfRelation'].value === 'weekly'"
                         [returnTicket]="returnTicket"></app-weekly-relation>
    <app-daily-relation *ngIf="f.controls['typeOfRelation'].value === 'select_days'"
                        [returnTicket]="returnTicket"></app-daily-relation>
    <app-every-day-relation *ngIf="f.controls['typeOfRelation'].value === 'every_day'"
                            [returnTicket]="returnTicket"></app-every-day-relation>
  </div>
</form>
