<div *ngIf="clientRole !== undefined" style="padding-top: 70px">
  <app-register-business-user-card *ngIf="clientRole === 'BUSINESS_USER' && registerSuccess === false"
                                   [disableRegisterButton]="disableRegister"
                                   [invalidCredentials]="registerError"
                                   (registerAccountEvent)="signUp($event)"></app-register-business-user-card>
  <app-register-private-user-card *ngIf="clientRole === 'PRIVATE_USER' && registerSuccess === false"
                                  [disableRegisterButton]="disableRegister"
                                  [invalidCredentials]="registerError"
                                  (registerAccountEvent)="signUp($event)"></app-register-private-user-card>
  <app-register-success *ngIf="registerSuccess === true"></app-register-success>
</div>
