<mat-card class="profile-card">

  <mat-card-header>
    <div class="profile-header-card">Profile info</div>
  </mat-card-header>

  <mat-list role="list" style="padding-top: 4rem">
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Name: </h3>
      </div>
      <div>
        <p class="value-text">{{privateUserProfileData.firstName}} {{privateUserProfileData.lastName}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Date of birth: </h3>
      </div>
      <div>
        <p class="value-text">{{privateUserProfileData.date_of_birth | date : 'dd.MM.y'}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Gender: </h3>
      </div>
      <div>
        <p class="value-text">{{privateUserProfileData.gender}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Email: </h3>
      </div>
      <div>
        <p class="value-text">{{privateUserProfileData.email}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>
