.profile-card {
  width: 500px;
  margin: 25px auto;
  border-radius: 5px;
}

.label-text {
  font-family: Roboto, Arial, sans-serif;
  color: #5f6368;
  font-size: .8875rem;
}

.value-text {
  font-family: Roboto, Arial, sans-serif;
  color: #202124;
  letter-spacing: .00625em;
  font-size: 1rem;
}

.first-label {
  width: 230px
}

.profile-header-card {
  margin: 8px auto;
  width: 30%;
  font-size: 1.75rem;
  font-family: Google Sans, Roboto, Arial, sans-serif;
  border-radius: 5px;
}
