<div *ngIf="ticketDetails != undefined && ticketType != undefined">
  <h3 mat-dialog-title>{{ticketDetails.startLocation.townOrMunicipality}},
    {{ticketDetails.startLocation.country.name}}
    <i class="material-icons" *ngIf="ticketType === 'oneWayTicket'">arrow_right_alt</i>
    <i class="material-icons" *ngIf="ticketType === 'returnTicket'">swap_horiz</i>
    {{ticketDetails.destinationLocation.townOrMunicipality}},
    {{ticketDetails.destinationLocation.country.name}}</h3>
</div>

<div class="parent" style="padding-top: 20px; width: 100%">
  <div class="child" style="width: 50%;">

    <div style="width: 320px" *ngIf="ticketDetails != undefined && ticketType != undefined">

      <mat-form-field style="width: 150px" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="First Name" [(ngModel)]="passengerData.firstName">
      </mat-form-field>

      <mat-form-field style="margin-left: 20px; width: 150px" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name" [(ngModel)]="passengerData.lastName">
      </mat-form-field>
    </div>
    <div *ngIf="selectedDeparture != undefined">
      <p>Start departure date: <span><b>{{selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}</b></span>
      </p>
      <p>Start departure hour: <span><b>{{selectedDeparture.startLocationHour.departureTime}}</b></span></p>
    </div>
    <div *ngIf="selectedDeparture != undefined && ticketType === 'returnTicket'">
      <p>Return departure date: <span><b>{{selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}</b></span>
      </p>
      <p>Return departure hour: <span><b>{{selectedDeparture.returnLocationHour.departureTime}}</b></span></p>
    </div>
  </div>

  <div class="child" style="width: 50%" *ngIf="ticketDetails != undefined">
    <div style="border: 1px solid dimgray">
      <div style="padding: 10px">
        <p *ngIf="ticketType === 'oneWayTicket'">1 x One way ticket:
          <span style="color: green; float: right"> {{ticketDetails.oneWayPrice}}.00 {{currency}}</span></p>

        <p *ngIf="ticketType === 'returnTicket'">1 x Return ticket:
          <span style="color: green; float: right"> {{ticketDetails.returnTicketPrice}}.00 {{currency}}</span>
        </p>
      </div>

      <mat-divider fxFlex="1 0"></mat-divider>

      <div style="padding: 8px">
        <h4>Total price: <span style="color: green; float: right"> {{totalPrice}}.00 {{currency}}</span></h4>
      </div>
      <div style="text-align: center; padding-bottom: 9px">
        <button class="step-pay-ticket-confirm-pay-button" mat-flat-button color="primary"
                (click)="confirmAndPayTicket()">Confirm and pay
        </button>
      </div>
    </div>
  </div>
</div>

<app-spinner [spinnerType]="'ball-clip-rotate'" [comment]="'Purchasing'"></app-spinner>

<div>
  <button mat-flat-button color="primary" matStepperPrevious>Back</button>
</div>

