.home-footer-logo {
  width: 550px;
  height: 50px;
  margin: 10px auto;
  padding-top: 30px;

  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.parent {
  width: 100%;
  text-align: left;
}

.child {
  display: inline-block;
  width: 33%;
}
