<div style="margin-bottom: 40px" class="parent">
  <mat-divider style="padding-bottom: 20px"></mat-divider>
  <div class="child">
    <div class="home-footer-logo">
      <img [height]="80" style="padding: 25px" src="../../../assets/logo.png">
      <span>Final Thesis</span>
    </div>
  </div>
  <div style="text-align: center" class="child">
    <h3>Mobile App</h3>
    <img [height]="80" style="padding: 5px" src="../../../assets/logo.png">
    <div style="margin-top: 10px">
      <img [width]="130" src="../../../assets/Apple-60H_EN.png">
    </div>
    <div>
      <img [width]="130" src="../../../assets/google-play-60H_EN.png">
    </div>
  </div>
  <div class="child">
    <div style="text-align: right;">
      <img [width]="365" [height]="143" src="../../../assets/powered-by-stripe-payment-add.png">
    </div>
  </div>
</div>
