<mat-card class="filter-card">
  <mat-form-field>
    <mat-label>Select Filter</mat-label>
    <select matNativeControl required [(ngModel)]="selectedFilter" (change)="selectFilter(selectedFilter)">
      <option *ngFor="let myAddedMessagesFilter of messagesFilters" [value]="myAddedMessagesFilter.value">
        {{myAddedMessagesFilter.viewValue}}
      </option>
    </select>
  </mat-form-field>
</mat-card>
