<mat-card class="profile-card">

  <mat-card-header>
    <div class="profile-header-card">Profile info</div>
  </mat-card-header>

  <mat-list role="list" style="padding-top: 4rem">
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Company Name: </h3>
      </div>
      <div>
        <p class="value-text">{{businessProfileData.companyName}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Company No: </h3>
      </div>
      <div>
        <p class="value-text">{{businessProfileData.companyNo}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Phone number: </h3>
      </div>
      <div>
        <p class="value-text">{{businessProfileData.companyPhoneNumber | decodePhoneNumber}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Country: </h3>
      </div>
      <div>
        <p class="value-text">{{businessProfileData.country.name}}, {{businessProfileData.country.code}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item role="listitem">
      <div class="first-label">
        <h3 class="label-text">Email: </h3>
      </div>
      <div>
        <p class="value-text">{{businessProfileData.email}}</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>
