<form name="f" [formGroup]="f">

  <div formArrayName="selectDays"
       *ngFor="let selectDay of getSelectDays(f); let i = index">
    <div [formGroupName]="i">

      <mat-form-field class="register-inputs-width">
        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="date" formControlName="dayDate"
               placeholder="Add date: MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
        <mat-datepicker #date></mat-datepicker>
      </mat-form-field>

      <button *ngIf="i !== 0" (click)="removeDailyRelation('selectDays', i)" mat-icon-button
              style="width: 10%">
        <mat-icon>remove</mat-icon>
      </button>

      <button (click)="addDailyRelation('selectDays', i)" mat-icon-button style="width: 10%">
        <mat-icon>add</mat-icon>
      </button>

      <div class="flex-parent" *ngIf="selectDay.value.dayDate != ''">

        <div formArrayName="departureHoursStart" class="flex-child"
             *ngFor="let departureHoursStart of getDepartureHours(selectDay) let in = index">

          <mat-label>From</mat-label>

          <div [formGroupName]="in">

            <mat-form-field style="width: 80%" appearance="outline">
              <mat-label>Departure Hour</mat-label>
              <input matInput type="time" placeholder="Departure Start Hour" formControlName="departureTime">
            </mat-form-field>


            <button *ngIf="in !== 0" (click)="removeTimeInput(selectDay, 'departureHoursStart', in)" mat-icon-button
                    style="width: 10%">
              <mat-icon>remove</mat-icon>
            </button>

            <button (click)="addTimeInput(selectDay, 'departureHoursStart', in)" mat-icon-button style="width: 10%">
              <mat-icon>add</mat-icon>
            </button>

          </div>
        </div>

          <div formArrayName="departureHoursDestination" class="flex-child"
               *ngFor="let departureHoursDestination of getDepartureDestinationHours(selectDay) let in = index">
            <div *ngIf="returnTicket === true">

              <mat-label>Destination</mat-label>

              <div [formGroupName]="in">

                <mat-form-field style="width: 80%" appearance="outline">
                  <mat-label>Departure Destination Hour</mat-label>
                  <input matInput type="time" placeholder="Departure Hour" formControlName="departureTime">
                </mat-form-field>

                <button *ngIf="in !== 0" (click)="removeTimeInput(selectDay, 'departureHoursDestination', in)" mat-icon-button
                        style="width: 10%">
                  <mat-icon>remove</mat-icon>
                </button>

                <button (click)="addTimeInput(selectDay, 'departureHoursDestination', in)" mat-icon-button style="width: 10%">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>

      </div>
    </div>

  </div>
</form>
