<form name="f" [formGroup]="f">

  <div formArrayName="departureHoursStart" class="flex-child"
       *ngFor="let item of f.controls['departureHoursStart']; let i = index">

    <mat-label>From</mat-label>
    <div [formGroupName]="i">
      <mat-form-field style="width: 220px" appearance="outline">
        <mat-label>Departure Hour</mat-label>
        <input matInput type="time" placeholder="Departure Start Hour" formControlName="departureTime">
      </mat-form-field>

      <button *ngIf="i !== 0" (click)="removeTimeInput('departureHoursStart', i)" mat-icon-button
              style="width: 25px">
        <mat-icon>remove</mat-icon>
      </button>

      <button (click)="addTimeInput('departureHoursStart')" mat-icon-button style="width: 20px">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </div>

  <div formArrayName="departureHoursDestination" class="flex-child"
       *ngFor="let item of f.controls['departureHoursDestination']; let i = index">

    <div *ngIf="returnTicket === false">

      <mat-label>Destination</mat-label>

      <div [formGroupName]="i">

        <mat-form-field style="width: 220px" appearance="outline">
          <mat-label>Departure Destination Hour</mat-label>
          <input matInput type="time" placeholder="Departure Hour" formControlName="departureTime">
        </mat-form-field>

        <button *ngIf="i !== 0" (click)="removeTimeInput('departureHoursDestination', i)" mat-icon-button
                style="width: 25px">
          <mat-icon>remove</mat-icon>
        </button>

        <button (click)="addTimeInput('departureHoursDestination')" mat-icon-button style="width: 20px">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</form>
