<div style="margin: 25px auto;" *ngIf="availableDestinations !== undefined">
  <app-browse-destination-card
    [destinations]="availableDestinations"
    [startLocation]="this.startLocSelected"
    [destinationLocation]="this.destinationLocSelected"
    (showTickets)="listTickets($event)"
    (noAvailableTicketsForDestination)="geAvailableTicketsValue($event)"></app-browse-destination-card>
</div>

<div style="padding: 100px" *ngIf="availableTickets === undefined">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
  <div style="text-align: center; padding: 30px">
    <mat-label>Searching...</mat-label>
  </div>
</div>

<div *ngIf="noAvailableTickets === false">
  <mat-list *ngFor="let ticket of availableTickets; let i=index">
    <app-ticket-card [ticketData]="ticket"></app-ticket-card>
  </mat-list>
</div>

<div *ngIf="noAvailableTickets === true && availableTickets !== undefined">
  <mat-card class="no-destinations-card">
    No available tickets at this time
  </mat-card>
</div>
