.center {
  min-width: 40%;
  margin: 10px auto;
}

.flex-parent {
  display: grid;
  grid-template-columns: 1fr 1fr
}

.flex-child {
  flex: 1;
}

.add-ticket-price-right-align {
  text-align: right;
  font-size: 20px;
  color: green;
  font-weight: bold;
}

.example-right-align {
  color: green;
  text-align: right;
}

.text-inside-grid {
  position: absolute;
  left: 5px;
}

.text-inside-end-grid {
  position: absolute;
  right: 5px;
}
