<div class="main-div">
  <mat-card class="z-depth center" flex="50">
    <form name="f" [formGroup]="f">

      <mat-card-title>

        <mat-grid-list cols="2" rowHeight="100px">

          <mat-grid-tile [colspan]="1">
            <div class="text-inside-grid">Add Ticket</div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" *ngIf="f.controls['oneWayTicket'].value === true">
            <mat-form-field class="text-inside-end-grid">
              <input matInput placeholder="One way price" type="number" formControlName="oneWayPrice"
                     class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix style="color: green">.00</span>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="1" *ngIf="f.controls['returnTicket'].value === true">
            <mat-form-field class="text-inside-end-grid">
              <input matInput placeholder="Return ticket price" type="number" formControlName="returnTicketPrice"
                     class="example-right-align">
              <span matPrefix>$&nbsp;</span>
              <span matSuffix style="color: green">.00</span>
            </mat-form-field>
          </mat-grid-tile>


        </mat-grid-list>

      </mat-card-title>

      <mat-card-content>

        <div style="width: 100%">

          <mat-form-field style="width: 40%">
            <mat-label>Country</mat-label>
            <select matNativeControl formControlName="startLocationCountryCode" name="county">
              <option value="" selected></option>
              <option *ngFor="let country of countriesList" [value]="country.code">
                {{country.name}}
              </option>
            </select>
          </mat-form-field>

          <mat-form-field style="width: 40%; padding-left: 10%">
            <mat-label>Country</mat-label>
            <select matNativeControl formControlName="endLocationCountryCode" name="county">
              <option value="" selected></option>
              <option *ngFor="let country of countriesList" [value]="country.code">
                {{country.name}}
              </option>
            </select>
          </mat-form-field>
        </div>

        <div style="width: 100%">
          <mat-form-field style="width: 40%" appearance="outline">
            <mat-label>Start Location</mat-label>
            <input matInput type="text" placeholder="Start" formControlName="startTownOrMunicipality">
          </mat-form-field>

          <mat-icon style="width: 10%">arrow_forward</mat-icon>

          <mat-form-field style="width: 40%" appearance="outline">
            <mat-label>Destination Location</mat-label>
            <input matInput type="text" placeholder="Destination" formControlName="endTownOrMunicipality">
          </mat-form-field>
        </div>

        <div *ngIf="f.get('returnTicket').value" style="width: 100%">
          <mat-label style="width: 40%">{{f.get('startTownOrMunicipality').value}}</mat-label>
          <mat-icon style="width: 10%">arrow_back</mat-icon>
          <mat-label style="width: 40%">{{f.get('endTownOrMunicipality').value}}</mat-label>
        </div>

        <div style="width: 100%; padding-bottom: 20px">
          <mat-checkbox style="padding-right: 10%"
            [disabled]="f.get('startTownOrMunicipality').value == '' || f.get('endTownOrMunicipality').value == ''"
            formControlName="oneWayTicket">One way ticket
          </mat-checkbox>

          <mat-checkbox
            [disabled]="f.get('startTownOrMunicipality').value == '' || f.get('endTownOrMunicipality').value == ''"
            formControlName="returnTicket">Return ticket
          </mat-checkbox>
        </div>

        <div style="width: 100%">
          <mat-form-field style="width: 60%">
            <mat-select formControlName="typeOfTransportationVehicle"
                        placeholder="Select type of transportation vehicle">
              <div *ngFor="let option of typeOfTransportVehicles">
                <mat-option value="{{option.value}}">{{option.label}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 30%; padding-left: 10%" appearance="outline">
            <mat-label>Available Seats</mat-label>
            <input matInput type="number" placeholder="Available Seats" formControlName="availableSeats">
          </mat-form-field>
        </div>

        <div style="width: 100%">
          <mat-form-field style="width: 100%">
            <mat-select formControlName="typeOfRelation"
                        placeholder="Select when your relation will be available">
              <div *ngFor="let option of typesOfRelation">
                <mat-option value="{{option.value}}">{{option.label}}</mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </div>

        <div style="width: 100%">
          <app-weekly-relation *ngIf="f.controls['typeOfRelation'].value === 'weekly'"
                               [returnTicket]="f.controls['returnTicket'].value"></app-weekly-relation>
          <app-daily-relation *ngIf="f.controls['typeOfRelation'].value === 'select_days'"
                              [returnTicket]="f.controls['returnTicket'].value"></app-daily-relation>
          <app-every-day-relation *ngIf="f.controls['typeOfRelation'].value === 'every_day'"
                                  [returnTicket]="f.controls['returnTicket'].value"></app-every-day-relation>
        </div>

        <div class="text-right-grid">
          <button [disabled]="disableSubmitButton" (click)="submit()" mat-raised-button color="primary">Submit</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
