<div style="padding: 10%">
  <mat-card class="tracker-personal-vehicle-card">
    <mat-card-title style="font-size: 20px; padding-bottom: 20px">Select personal vehicle for tracking</mat-card-title>

    <mat-form-field style="width: 100%">
      <form name="f" [formGroup]="f">
        <mat-select name="selectedVehicle" placeholder="Select vehicle" formControlName="selectedVehicle">
          <mat-option *ngFor="let vehicle of myVehicles" [value]="vehicle">
            {{vehicle.name}}
          </mat-option>
        </mat-select>
      </form>
    </mat-form-field>
    <div style="padding-top: 20px; text-align: right">
      <button class="track-personal-vehicle-search-button" mat-flat-button color="primary"
              (click)="searchPersonalVehicle()">
        Search
      </button>
    </div>
  </mat-card>
</div>
