<div>
  <app-slider></app-slider>
</div>

<div *ngIf="availableDestinations != undefined && descriptionCardsData != undefined">

  <div style="margin-top: -115px" *ngIf="availableDestinations !== undefined">
    <app-browse-destination-card
      [destinations]="availableDestinations"
      (noAvailableTicketsForDestination)="geAvailableTicketsValue($event)"></app-browse-destination-card>
  </div>

  <div *ngIf="noAvailableTickets === true">
    <mat-card class="no-destinations-card">
      No available tickets for this destination
    </mat-card>
  </div>

  <div *ngIf="destinationsFromCurrentLocation.length !== 0" class="home-parent-div" style="padding-top: 50px">
    <div class="home-child-div" *ngFor="let destination of destinationsFromCurrentLocation">
      <app-home-destination-card [ticketData]="destination"></app-home-destination-card>
    </div>
  </div>

  <div class="home-parent-div">
    <div class="home-child-div" *ngFor="let descriptionCard of descriptionCardsData">
      <app-home-description-card
        [cardData]="descriptionCard"></app-home-description-card>
    </div>
  </div>
</div>

<div style="padding: 100px" *ngIf="availableDestinations === undefined && descriptionCardsData === undefined">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
  <div style="text-align: center; padding: 30px">
    <mat-label>Loading...</mat-label>
  </div>
</div>

<div style="margin-top: 10px">
  <app-home-footer></app-home-footer>
</div>
