<mat-grid-list cols="4" rowHeight="4rem">
  <mat-grid-tile [colspan]="3" [rowspan]="1">

    <h1 mat-dialog-title>{{data.startLocation.townOrMunicipality}},
      {{data.startLocation.country.name}}
      <i class="material-icons" *ngIf="data.returnTicket === false">arrow_right_alt</i>
      <i class="material-icons" *ngIf="data.returnTicket === true">swap_horiz</i>
      {{data.destinationLocation.townOrMunicipality}},
      {{data.destinationLocation.country.name}}</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <button mat-icon-button class="text-inside-align-right-grid" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="4">

  <mat-grid-tile [colspan]="1" [rowspan]="2">

    <div>
      <p><b>Company: </b><span>{{data.companyName}}</span></p>
      <p><b>Return ticket: </b><span *ngIf="data.returnTicket === false">No</span>
        <span *ngIf="data.returnTicket === true">Yes</span></p>

      <p><b>Type of transport vehicle: </b><span>{{data.typeOfTransportationVehicle}}</span></p>
      <p><b>Available tickets: </b><span>{{data.availableSeats}}</span></p>
      <p><b>Type of relation: </b>
        <span *ngIf="data.typeOfRelation === 'weekly'">Weekly</span>
        <span *ngIf="data.typeOfRelation === 'select_days'">Select days</span>
        <span *ngIf="data.typeOfRelation === 'every_day'">Every day</span>
      </p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div *ngIf="data.typeOfRelation === 'weekly'">
      <p><b>Every week relation: </b><span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === false">No</span>
        <span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === true">Yes</span></p>

      <mat-list *ngFor="let item of data.relationData.weeklyRelation.selectedWeek">

        <table width="400rem">
          <thead>
          <tr>
            <th colspan="2">
              <span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === true">
                {{item.startDate | date: 'EEEE '}}</span>

              <span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === false">
                {{item.startDate | date: ' EEEE, dd.MM.yyyy'}}</span>

              <span *ngIf="item.endDate !== ''"><span style="font-weight: bold; font-style: italic"> until </span>

                <span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === true">
                {{item.endDate | date: ' EEEE'}}</span>

                <span *ngIf="data.relationData.weeklyRelation.repeatEveryWeek === false">
                {{item.endDate | date: ' EEEE, dd.MM.yyyy'}}</span>

                </span></th>
          </tr>
          </thead>
          <tbody>
          <tr align="center" class="dialog-ticket-town-label">
            <td class="dialog-ticket-values">From {{data.startLocation.townOrMunicipality}}</td>
            <td class="dialog-ticket-values" *ngIf="data.returnTicket === true">
              From {{data.destinationLocation.townOrMunicipality}}</td>
          </tr>
          <tr align="center">
            <td>
              <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursStart">
                {{item.departureTime}}
              </div>
            </td>
            <td *ngIf="data.returnTicket === true">
              <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursDestination">
                {{item.departureTime}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>

      </mat-list>
    </div>

    <div *ngIf="data.typeOfRelation === 'select_days'">
      <mat-list *ngFor="let item of data.relationData.dailyRelation">
        <table width="400rem">
          <thead>
          <tr>
            <th colspan="2">{{item.dayDate | date: 'EEEE, dd.MM.yyyy'}}</th>
          </tr>
          </thead>
          <tbody>
          <tr align="center" class="dialog-ticket-town-label">
            <td class="dialog-ticket-values">From {{data.startLocation.townOrMunicipality}}</td>
            <td class="dialog-ticket-values" *ngIf="data.returnTicket === true">
              From {{data.destinationLocation.townOrMunicipality}}</td>
          </tr>
          <tr align="center">
            <td>
              <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursStart">
                {{item.departureTime}}
              </div>
            </td>
            <td *ngIf="data.returnTicket === true">
              <div class="dialog-ticket-values" *ngFor="let item of item.departureHoursDestination">
                {{item.departureTime}}
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </mat-list>
    </div>

    <div *ngIf="data.typeOfRelation === 'every_day'">
      <table width="400rem">
        <tbody>
        <tr align="center" class="dialog-ticket-town-label">
          <td class="dialog-ticket-values">From {{data.startLocation.townOrMunicipality}}</td>

          <td class="dialog-ticket-values" *ngIf="data.returnTicket === true">
            From {{data.destinationLocation.townOrMunicipality}}</td>
        </tr>
        <tr align="center">
          <td>
            <div class="dialog-ticket-values"
                 *ngFor="let item of data.relationData.everyDayRelation.departureHoursStart"
                 [hidden]="item.departureTime === ''">
              {{item.departureTime}}
            </div>
          </td>
          <td>
            <div class="dialog-ticket-values"
                 *ngFor="let item of data.relationData.everyDayRelation.departureHoursDestination"
                 [hidden]="item.departureTime === ''">
              {{item.departureTime}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="typeOfUser === 'PRIVATE_USER'" [colspan]="1" [rowspan]="2">
    <div class="wrapper">
      <div class="first">
        <section>
          <mat-radio-group [(ngModel)]="chosenTicket">
            <mat-radio-button style="padding: 10px" value="oneWayTicket">One way ticket:
              <span class="dialog-ticket-price">{{data.oneWayPrice}} {{currency}}</span>
            </mat-radio-button>
            <mat-radio-button *ngIf="data.returnTicket === true" style="padding: 10px" value="returnTicket">
              Return ticket: <span class="dialog-ticket-price">{{data.returnTicketPrice}} {{currency}}</span>
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <div class="second">
        <button class="dialog-ticket-buy-button" style="font-size: larger" (click)="purchaseTicket()"
                mat-flat-button color="primary">Buy</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
