<mat-card class="ticket-card" (click)="viewDetails(ticketData)">
  <mat-grid-list cols="4" rowHeight="4rem">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div>
        <mat-card-title>{{ticketData.startLocation.townOrMunicipality}},
          {{ticketData.startLocation.country.name}}
          <i class="material-icons" *ngIf="ticketData.returnTicket === false">arrow_right_alt</i>
          <i class="material-icons" *ngIf="ticketData.returnTicket === true">swap_horiz</i>
          {{ticketData.destinationLocation.townOrMunicipality}},
          {{ticketData.destinationLocation.country.name}}</mat-card-title>

        <p><b>Return ticket: </b><span *ngIf="ticketData.returnTicket === false">No</span>
          <span *ngIf="ticketData.returnTicket === true">Yes</span></p>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="text-inside-align-right-grid">
        <mat-card-title style="color: green"><span style="font-size: 15px; color: #202124">One way:</span>
          {{ticketData.oneWayPrice}} {{currency}}</mat-card-title>
        <mat-card-title style="color: green" *ngIf="ticketData.returnTicketPrice != null">
          <span style="font-size: 15px; color: #202124">Return:</span>
          {{ticketData.returnTicketPrice}} {{currency}}</mat-card-title>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="2.2rem">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <p><b>Type of transport vehicle: </b><span>{{ticketData.typeOfTransportationVehicle}}</span></p>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <p><b>Available tickets: </b><span>{{ticketData.availableSeats}}</span></p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <p><b>Type of relation: </b>
        <span *ngIf="ticketData.typeOfRelation === 'weekly'">Weekly</span>
        <span *ngIf="ticketData.typeOfRelation === 'select_days'">Select days</span>
        <span *ngIf="ticketData.typeOfRelation === 'every_day'">Every day</span>
      </p>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
