<div style="padding: 10%">
  <mat-card class="tracker-map-destination-card" *ngIf="availableDestinations != undefined">
    <mat-card-title style="font-size: 20px; padding-bottom: 20px">Select start and destination location</mat-card-title>

    <mat-card-content>
      <div>
        <mat-form-field style="width: 100%;">
          <form name="f" [formGroup]="f">

            <mat-select name="startLocation" placeholder="From" formControlName="startLocation">
              <mat-option *ngFor="let destination of availableDestinations.startLocations" [value]="destination">
                {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
              </mat-option>
            </mat-select>
          </form>
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <form name="f" [formGroup]="f">

            <mat-select name="destinationLocation" placeholder="Destination" formControlName="destinationLocation">
              <mat-option *ngFor="let destination of availableDestinations.endLocations" [value]="destination">
                {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
              </mat-option>
            </mat-select>
          </form>
        </mat-form-field>

        <div style="padding-top: 20px; text-align: right">
          <button class="browse-destination-search-button" mat-flat-button color="primary" (click)="searchVehicle()">
            Search
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
