<mat-card class="browse-destination-card">
  <mat-form-field style="width: 12rem">
    <mat-select placeholder="From" [(value)]="startLocation" [compareWith]="compareItems">
      <mat-option *ngFor="let destination of destinations.startLocations" [value]="destination">
        {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-icon style="width: 10%; text-align: center">swap_horiz</mat-icon>

  <mat-form-field  style="width: 12rem">
    <mat-select placeholder="Destination" [(value)]="destinationLocation" [compareWith]="compareItems">
      <mat-option *ngFor="let destination of destinations.endLocations" [value]="destination">
        {{destination.townOrMunicipality}}, {{destination.country.name}} {{destination.country.code}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button class="browse-destination-search-button" mat-flat-button color="primary" (click)="browseDestinations()">
    Search
  </button>
</mat-card>
