.browse-destination-card {
  width: 47rem;
  height: 4rem;
  margin: 10px auto;
  text-align: center;
}

.browse-destination-search-button {
  margin-left: 50px;
  font-size: larger;
  width: 200px;
}
