<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="start-spacer"></span>
    <a class="app-toolbar-menu-buttons" style="font-size: 20px" [routerLink]="['home']"
       mat-button routerLinkActive="mat-accent">
      <img width="45" height="45" src="../assets/logo.png">
      <span style="padding-left: 7px">{{env.appName}}</span>
    </a>
    <span class="spacer"></span>
    <a class="app-toolbar-menu-buttons" [routerLink]="['myPurchasedTickets']"
       *ngIf="auth.loggedIn()" mat-button routerLinkActive="mat-accent">
      <span *ngIf="typeOfUser === 'PRIVATE_USER'">Purchased Tickets</span>
      <span *ngIf="typeOfUser === 'BUSINESS_USER'">Sold Tickets</span>
    </a>
    <span class="spacer"></span>
    <a class="app-toolbar-menu-buttons" [routerLink]="['addTicket']"
       *ngIf="auth.loggedIn() && typeOfUser === 'BUSINESS_USER'" mat-button routerLinkActive="mat-accent">Add Ticket
    </a>
    <span class="spacer"></span>
    <a class="app-toolbar-menu-buttons" [routerLink]="['trackerMap']" mat-button
       routerLinkActive="mat-accent">Tracker</a>
    <span class="spacer"></span>
    <a class="app-toolbar-menu-buttons" [routerLink]="['myAddedTickets']"
       *ngIf="auth.loggedIn() && typeOfUser === 'BUSINESS_USER'" mat-button routerLinkActive="mat-accent">My Tickets
    </a>
    <span class="spacer"></span>
    <a class="app-toolbar-menu-buttons" *ngIf="auth.loggedIn()" [routerLink]="['profile']" mat-button
       routerLinkActive="mat-accent">Profile</a>
    <span class="spacer"></span>
    <span *ngIf="!auth.loggedIn()" class="spacer"></span>
    <a class="app-toolbar-menu-buttons" *ngIf="!auth.loggedIn()" [routerLink]="['login']" mat-button
       routerLinkActive="mat-accent">Sign In</a>
    <a class="app-toolbar-menu-buttons" *ngIf="auth.loggedIn()" (click)="signOut()" mat-button
       routerLinkActive="mat-accent">Sign Out</a>
    <span class="start-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <router-outlet></router-outlet>
</mat-sidenav-container>
