.start-spacer {
  flex: 2 1 auto;
}

.spacer {
  flex: 1 1 auto;
}

.app-toolbar-menu-buttons {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  filter: none;
  font-weight: 500;
  height: auto;
  line-height: 0cm;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.mat-accent {
  color: #9cabc8;
}

@media screen and (min-width: 600px) {
  .main-container {
    width: 100%;
    height: calc(100vh - 64px);
  }
}
