<mat-card class="register-success-card">
  <mat-card-title style="text-align: center">
    Successfully registered!
  </mat-card-title>
  <mat-card-content style="margin-top: 20px">
    You have been successfully registered. Please Sign In to access your Profile
  </mat-card-content>
</mat-card>
