.success-card-header {
  width: 550px;
  height: 50px;
  margin: 10px auto;
  padding-top: 30px;


  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.child {
  display: inline-block;
}

.success-sub-header {
  width: 550px;
  padding-top: 30px;
  margin: 10px auto;
  font-size: 15px;
  color: #7488aa;
  text-align: center;
}

.success-ticket {
  width: 790px;
  height: 400px;
  margin: 10px auto;
  padding-top: 25px;
}
