<div *ngIf="pageId === 'purchaseTicket' && ticket !== undefined">
  <div class="success-card-header">
    <img height="80" style="padding: 25px" src="../../../assets/checked.png"/>
    <span>Successfully purchased!</span>
  </div>

  <div class="success-sub-header">
    <p style="margin: 2px">You have successfully purchased a ticket!</p>
    <p style="margin: 2px">You can download the ticket here or later from your profile!</p>
    <p style="margin: 2px">Your ticket has been send on your email address!</p>
  </div>

  <div class="success-ticket">
    <app-purchased-ticket-view [ticketData]="ticket"></app-purchased-ticket-view>
  </div>
</div>

<div *ngIf="pageId === 'addTicket'">
  <div class="success-card-header">
    <img height="80" style="padding: 25px" src="../../../assets/checked.png"/>
    <span>Ticket successfully advertised!</span>
  </div>

  <div class="success-sub-header">
    <p style="margin: 2px">Your ticket has been successfully added!</p>
    <p style="margin: 2px">Now passengers can see see and purchase your ticket</p>
  </div>
</div>

