<div class="parent">
  <div class="child">
    <h3 mat-dialog-title>{{ticketDetails.startLocation.townOrMunicipality}},
      {{ticketDetails.startLocation.country.name}}
      <i class="material-icons" *ngIf="ticketType === 'oneWayTicket'">arrow_right_alt</i>
      <i class="material-icons" *ngIf="ticketType === 'returnTicket'">swap_horiz</i>
      {{ticketDetails.destinationLocation.townOrMunicipality}},
      {{ticketDetails.destinationLocation.country.name}}</h3>
  </div>
  <div class="child">
    <h3 *ngIf="ticketType === 'oneWayTicket'">One way:
      <span style="color: green;"> {{ticketDetails.oneWayPrice}}.00 {{currency}}</span></h3>
    <h3 *ngIf="ticketType === 'returnTicket'">Return:
      <span style="color: green;"> {{ticketDetails.returnTicketPrice}}.00 {{currency}}</span></h3>
  </div>
</div>

<div class="parent">
  <form name="f" [formGroup]="f">

    <div class="child">
      <mat-form-field style="width: 150px">
        <input matInput name="startLocationDate" [matDatepicker]="picker" [matDatepickerFilter]="departureFilter"
               placeholder="Departure date" formControlName="startLocationDate" (dateChange)="selectedDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 100px; padding-left: 7px" *ngIf="availableStartDepartureHours !== undefined">
        <mat-select name="startLocation" placeholder="Time" formControlName="startLocationHour">
          <mat-option *ngFor="let startDeparture of availableStartDepartureHours" [value]="startDeparture">
            {{startDeparture.departureTime}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="child" *ngIf="ticketType === 'returnTicket'">
      <mat-form-field style="width: 150px">
        <input matInput name="returnLocationDate" [matDatepicker]="returnDatePicker"
               [matDatepickerFilter]="departureFilter" placeholder="Return date"
               (dateChange)="selectedDate($event)" formControlName="returnLocationDate">
        <mat-datepicker-toggle matSuffix [for]="returnDatePicker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #returnDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field style="width: 100px; padding-left: 7px" *ngIf="availableReturnDepartureHours !== undefined">
        <mat-select name="destinationLocation" placeholder="Time" formControlName="returnLocationHour">
          <mat-option *ngFor="let returnDeparture of availableReturnDepartureHours" [value]="returnDeparture">
            {{returnDeparture.departureTime}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>
</div>

<div>
  <button mat-flat-button color="primary" matStepperNext (click)="goToCheckout()">Next</button>
</div>
