<div style="width: 380px;">

  <form (submit)="handleForm($event)">

    <div style="padding-bottom: 10px">Credit or debit card</div>
    <div #cardElement disabled="true">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <p style="color: red;">{{ cardErrors }}</p>

    <div style="padding-top: 20px">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button mat-flat-button color="primary">Next</button>
    </div>
  </form>
</div>
<app-spinner [spinnerType]="'line-scale'" [comment]="'Processing'"></app-spinner>

