<app-messages-filter [selectedFilter]="selectedFilter"
                     [messagesFilters]="myAddedMessagesFilters"
                     (chosenFilter)="getPurchasedTickets($event)"></app-messages-filter>

<div style="padding: 100px" *ngIf="myTickets === undefined">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
  <div style="text-align: center; padding: 30px">
    <mat-label>Loading...</mat-label>
  </div>
</div>

<div *ngIf="myTickets !== undefined">
  <mat-list *ngFor="let myTicket of myTickets; let i=index">
    <app-purchased-ticket-card [ticket]="myTicket"></app-purchased-ticket-card>
  </mat-list>

  <div *ngIf="myTickets.length === 0">
    <mat-card class="no-destinations-card">
      No such purchased tickets
    </mat-card>
  </div>
</div>

