<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <mat-step [stepControl]="firstFormGroup" label="Select ticket" state="departure_board">

    <app-step-select-ticket [ticketDetails]="ticketData"
                            [ticketType]="typeOfTicket"
                            (passSelectTicketData)="getSelectTicketData($event)"></app-step-select-ticket>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="Payment details">

    <app-step-enter-payment [stepper]="stepper"
                            (enterPaymentData)="getEnterPaymentData($event)"
                            [selectTicketData]="selectTicketData"></app-step-enter-payment>

  </mat-step>
  <mat-step label="Check Out">

    <app-step-pay-ticket [enterPaymentData]="enterPaymentData"
                         [selectTicketData]="selectTicketData"></app-step-pay-ticket>
  </mat-step>
</mat-horizontal-stepper>

<ng-template matStepperIcon="departure_board">
  <mat-icon>departure_board</mat-icon>
</ng-template>
