<mat-list>
  <app-private-user-profile-card *ngIf="profileData !== undefined && typeOfUser === 'PRIVATE_USER'"
                                 [privateUserProfileData]="profileData"></app-private-user-profile-card>
  <app-business-profile-card *ngIf="profileData !== undefined && typeOfUser === 'BUSINESS_USER'"
                             [businessProfileData]="profileData"></app-business-profile-card>
</mat-list>

