<form name="f" [formGroup]="f">
  <div style="width: 550px">

    <mat-form-field style="width: 250px">
      <mat-label>Country</mat-label>
      <select matNativeControl formControlName="startLocationCountryCode" name="county">
        <option value="" selected></option>
        <option *ngFor="let country of countriesList" [value]="country.code">
          {{country.name}}
        </option>
      </select>
    </mat-form-field>

    <mat-form-field style="width: 250px; padding-left: 50px">
      <mat-label>Country</mat-label>
      <select matNativeControl formControlName="endLocationCountryCode" name="county">
        <option value="" selected></option>
        <option *ngFor="let country of countriesList" [value]="country.code">
          {{country.name}}
        </option>
      </select>
    </mat-form-field>
  </div>

  <div style="width: 550px">
    <mat-form-field style="width: 250px" appearance="outline">
      <mat-label>Start Location</mat-label>
      <input matInput type="text" placeholder="Start" formControlName="startTownOrMunicipality">
    </mat-form-field>

    <mat-icon style="width: 50px; text-align: center">arrow_forward</mat-icon>

    <mat-form-field style="width: 250px;" appearance="outline">
      <mat-label>Destination Location</mat-label>
      <input matInput type="text" placeholder="Destination" formControlName="endTownOrMunicipality">
    </mat-form-field>
  </div>

  <mat-divider style="width: 550px"></mat-divider>

  <div style="width: 550px; padding-top: 10px">
    <mat-checkbox style="padding-left: 50px; width: 250px"
                  [disabled]="f.get('startTownOrMunicipality').value == '' || f.get('endTownOrMunicipality').value == ''"
                  formControlName="oneWayTicket">One way ticket
    </mat-checkbox>

    <mat-form-field style="width: 200px; padding-left: 50px" appearance="outline">
      <mat-label>One way ticket price</mat-label>
      <input matInput style="color: green" type="number" placeholder="One way Price" formControlName="oneWayPrice">
    </mat-form-field>
  </div>

  <div style="width: 550px; padding-top: 10px">
    <mat-checkbox style="padding-left: 50px; width: 250px" (change)="changeValue()"
                  [disabled]="f.get('startTownOrMunicipality').value == '' || f.get('endTownOrMunicipality').value == ''"
                  formControlName="returnTicket">Return ticket
    </mat-checkbox>

    <mat-form-field style="width: 200px; padding-left: 65px" appearance="outline"
                    *ngIf="f.controls['returnTicket'].value === true">
      <mat-label>Return ticket price</mat-label>
      <input matInput style="color: green" type="number" placeholder="Return Price"
             formControlName="returnTicketPrice">
    </mat-form-field>
  </div>

  <div *ngIf="f.get('returnTicket').value" style="width: 550px; text-align: center">
    <mat-label style="width: 200px">{{f.get('startTownOrMunicipality').value}}
      , {{f.get('startLocationCountryCode').value}}</mat-label>
    <mat-icon style="width: 50px; text-align: center">arrow_back</mat-icon>
    <mat-label style="width: 200px">{{f.get('endTownOrMunicipality').value}}
      , {{f.get('endLocationCountryCode').value}}</mat-label>
  </div>
</form>
