<form name="f" [formGroup]="f">

  <section style="padding-bottom: 10px">
    <mat-checkbox formControlName="repeatEveryWeek">Repeat this relation each week</mat-checkbox>
  </section>

  <mat-divider></mat-divider>

  <div style="padding-top: 10px">

    <div formArrayName="selectedWeek"
         *ngFor="let selectedWeek of getSelectedWeek(f); let i = index">
      <div [formGroupName]="i">

        <div style="padding: 10px">
          <mat-divider *ngIf="i !== 0"></mat-divider>
        </div>

        <div class="flex-parent">
          <div class="flex-child">
            <mat-checkbox formControlName="addEndDate">add second</mat-checkbox>
          </div>
          <div *ngIf="i !== 0" class="flex-child" style="text-align: end">
            <button mat-icon-button (click)="removeDailyRelation(f, 'selectedWeek', i)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <div class="flex-parent">

          <div class="flex-child">
            <mat-form-field style="width: 220px">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="startDate" formControlName="startDate"
                     placeholder="Start date: DD/MM/YYYY" (dateChange)="addEvent($event)">
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="flex-child" *ngIf="selectedWeek.value.addEndDate != false">
            <mat-form-field style="width: 220px">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="endDate" formControlName="endDate"
                     placeholder="End date: MM/DD/YYYY">
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
          </div>

        </div>

        <div class="flex-parent" *ngIf="selectedWeek.value.startDate != ''">

          <div class="flex-child">
            <div formArrayName="departureHoursStart" class="flex-child"
                 *ngFor="let departureHoursStart of getDepartureHours(selectedWeek) let in = index">

              <mat-label>From</mat-label>

              <div [formGroupName]="in">

                <mat-form-field style="width: 170px" appearance="outline">
                  <mat-label>Departure Hour</mat-label>
                  <input matInput type="time" placeholder="Departure Start Hour" formControlName="departureTime">
                </mat-form-field>


                <button *ngIf="in !== 0" (click)="removeTimeInput(selectedWeek, 'departureHoursStart', in)"
                        mat-icon-button
                        style="width: 40px">
                  <mat-icon>remove</mat-icon>
                </button>

                <button (click)="addTimeInput(selectedWeek, 'departureHoursStart', in)" mat-icon-button
                        style="width: 40px">
                  <mat-icon>add</mat-icon>
                </button>

              </div>
            </div>
          </div>

          <div formArrayName="departureHoursDestination" class="flex-child"
               *ngFor="let departureHoursDestination of getDepartureDestinationHours(selectedWeek) let in = index">
            <div *ngIf="returnTicket === true">

              <mat-label>Destination</mat-label>

              <div [formGroupName]="in">

                <mat-form-field style="width: 170px" appearance="outline">
                  <mat-label>Departure Destination Hour</mat-label>
                  <input matInput type="time" placeholder="Departure Hour" formControlName="departureTime">
                </mat-form-field>

                <button *ngIf="in !== 0" (click)="removeTimeInput(selectedWeek, 'departureHoursDestination', in)"
                        mat-icon-button
                        style="width: 40px">
                  <mat-icon>remove</mat-icon>
                </button>

                <button (click)="addTimeInput(selectedWeek, 'departureHoursDestination', in)" mat-icon-button
                        style="width: 40px">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <section style="text-align: center">
          <button mat-stroked-button color="primary" (click)="addNewDailyRelation(f, 'selectedWeek', i)">
            <mat-icon>add</mat-icon>
            Add another date at the same week
          </button>
        </section>

      </div>

    </div>

  </div>
</form>
