<app-messages-filter
  [selectedFilter]="selectedFilter"
  [messagesFilters]="myAddedTicketsFilters"
  (chosenFilter)="getTickets($event)"></app-messages-filter>

<div style="padding: 100px" *ngIf="myTickets === undefined">
  <mat-spinner style="margin:0 auto;"></mat-spinner>
  <div style="text-align: center; padding: 30px">
    <mat-label>Loading...</mat-label>
  </div>
</div>

<div *ngIf="myTickets !== undefined">
  <mat-list *ngFor="let myTicket of myTickets; let i=index">
    <app-ticket-card [ticketData]="myTicket"></app-ticket-card>
  </mat-list>
  <div *ngIf="myTickets.length === 0">
    <mat-card class="no-destinations-card">
      No such added tickets
    </mat-card>
  </div>
</div>

