<mat-card class="purchased-ticket-card" (click)="viewTicket()">
  <mat-grid-list cols="4" rowHeight="2.2rem">
    <mat-grid-tile [colspan]="3" [rowspan]="1">

      <mat-card-title>
        {{ticket.startLocation.townOrMunicipality}}, {{ticket.startLocation.country.name}}
        <i class="material-icons" *ngIf="ticket.ticketType === 'oneWayTicket'">arrow_right_alt</i>
        <i class="material-icons" *ngIf="ticket.ticketType === 'returnTicket'">swap_horiz</i>
        {{ticket.destinationLocation.townOrMunicipality}},
        {{ticket.destinationLocation.country.name}}
      </mat-card-title>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <div class="text-inside-align-right-grid">
        <mat-card-title style="color: green"><span style="font-size: 15px; color: #202124">Price:</span>
           {{ticket.price}} {{currency}}</mat-card-title>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <p><b>Passenger Name: </b>
        <span>{{ticket.passenger.firstName}} {{ticket.passenger.lastName}}</span></p>
    </mat-grid-tile>

  </mat-grid-list>

  <mat-grid-list cols="4" rowHeight="2.2rem">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <p><b>Start departure: </b>
        <span>{{ticket.selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}; at
          {{ticket.selectedDeparture.startLocationHour.departureTime}}</span></p>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="ticket.ticketType === 'returnTicket'" [colspan]="2" [rowspan]="1">
      <p><b>Return departure: </b>
        <span>{{ticket.selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}; at
          {{ticket.selectedDeparture.returnLocationHour.departureTime}}</span></p>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
