.center {
  min-width: 65%;
  margin: 10px auto;
}

.text-left-grid {
  position: absolute;
  width: 95%;
  top: 5px;
  left: 5px;
}

.text-right-grid {
  padding-right: 10px;
  position: absolute;
  right: 1px;
}
