<mat-card class="align-center-item" style="width: 700px; height: 450px">
  <mat-card-title>
    Sign Up
  </mat-card-title>
  <mat-card-header>
    <p>Create an account for your Company</p>
  </mat-card-header>
  <mat-card-content>
    <form name="f" [formGroup]="f">

      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput type="text" placeholder="Company Name" formControlName="companyName">
      </mat-form-field>

      <mat-form-field style="width: 40%">
        <mat-icon matSuffix>phone</mat-icon>
        <input type="tel" matInput placeholder="Phone Number" formControlName="companyPhoneNumber">
      </mat-form-field>

      <mat-form-field style="width: 40%; padding-left: 10%">
        <mat-label>Country</mat-label>
        <select matNativeControl formControlName="country" name="county">
          <option value="" selected></option>
          <option *ngFor="let country of countriesList" [value]="country.code">
            {{country.name}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email">
      </mat-form-field>

      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
    </form>

    <div class="text-right-grid">
      <button style="width: 200px; font-size: larger;" (click)="registerBusinessAccount()"
              [disabled]="disableRegisterButton" mat-raised-button color="primary">
        Sign Up
      </button>
      <mat-error *ngIf="invalidCredentials">
        <h3>Please enter <strong>valid</strong> credentials</h3>
      </mat-error>
    </div>
  </mat-card-content>
</mat-card>
