<mat-card class="align-center-item" style="width: 400px; height: 500px">
  <!--   <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->

  <mat-card-title style="text-align: center">
    Sign in
  </mat-card-title>

  <div align="center" style="margin: 30px auto;">
    <img width="150" height="150" src="../../../assets/logo.png">
  </div>

  <mat-card-content>
    <form name="f" [formGroup]="f" (keyup.enter)="signIn()">

      <p>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" formControlName="username">
          <mat-error *ngIf="f.controls.username.hasError('email') && !f.controls.username.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="f.controls.username.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p *ngIf="emailError === true" style="color: red">Invalid <strong>email</strong> address</p>

      <p>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="f.controls.password.hasError('minlength') && !f.controls.username.hasError('required')">
            Invalid <strong>password</strong>
          </mat-error>
          <mat-error *ngIf="f.controls.password.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p *ngIf="passwordError === true" style="color: red">Invalid <strong>password</strong></p>

    </form>

    <mat-grid-list cols="2" rowHeight="2:1">

      <mat-grid-tile>
        <button class="text-left-grid" [routerLink]="['/register']" mat-button color="primary"></button>

        <button mat-button [matMenuTriggerFor]="menu">Create account</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="registerAsPassenger()">Private (passenger)</button>
          <button mat-menu-item (click)="registerAsCompany()">Business (company)</button>
        </mat-menu>

      </mat-grid-tile>

      <mat-grid-tile>
        <button class="text-right-grid" [disabled]="disableLoginButton" (click)="signIn()" mat-raised-button
                color="primary">Sign in
        </button>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-content>

</mat-card>
