<div *ngIf="ticketData != undefined" id="ticket" #ticket>
  <div class="parent">
    <div style="width: 90%" class="child">
      <h1 mat-dialog-title>{{ticketData.companyName}}</h1>
    </div>
    <div *ngIf="router.url.includes('/success/purchaseTicket') !== true" class="child" style="width: 10%">
      <div mat-dialog-actions align="end">
        <button mat-icon-button (click)="closePopover()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <div class="parent">
    <div class="child" style="width: 280px">
      <h6 style="color: blue; margin: 0">
        Passenger Name
      </h6>
      <p style="margin: 5px">{{ticketData.passenger.firstName}} {{ticketData.passenger.lastName}}</p>
    </div>

    <div class="child" style="width: 280px">
      <h6 style="color: blue; margin: 0">
        Ticket type
      </h6>
      <p style="margin: 5px">
        <span *ngIf="ticketData.ticketType === 'oneWayTicket'">One way</span>
        <span *ngIf="ticketData.ticketType === 'returnTicket'">Return</span>
      </p>
    </div>

    <div class="child" style="width: 150px">
      <h6 style="color: blue; margin: 0">
        Price
      </h6>
      <p style="margin: 5px">
        <span>{{ticketData.price}}</span>
      </p>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div style="padding-top: 50px" class="parent">
    <mat-divider style="padding-bottom: 5px"></mat-divider>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        From
      </h6>
      <p style="margin: 5px">{{ticketData.startLocation.townOrMunicipality}},
        {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}</p>
    </div>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        On
      </h6>
      <p style="margin: 5px">{{ticketData.selectedDeparture.startLocationDate | date: 'EEEE, dd.MM.yyyy'}}</p>
    </div>

    <div class="child" style="width: 100px">
      <h6 style="color: blue; margin: 0">
        At
      </h6>
      <p style="margin: 5px">{{ticketData.selectedDeparture.startLocationHour.departureTime}}</p>
    </div>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        To
      </h6>
      <p style="margin: 5px">{{ticketData.destinationLocation.townOrMunicipality}},
        {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}</p>
    </div>

  </div>
  <mat-divider></mat-divider>

  <div *ngIf="ticketData.ticketType === 'returnTicket'" style="padding-top: 10px" class="parent">

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        From
      </h6>
      <p style="margin: 5px">{{ticketData.destinationLocation.townOrMunicipality}},
        {{ticketData.destinationLocation.country.name}} {{ticketData.destinationLocation.country.code}}</p>
    </div>

    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        On
      </h6>
      <p style="margin: 5px">{{ticketData.selectedDeparture.returnLocationDate | date: 'EEEE, dd.MM.yyyy'}}</p>
    </div>

    <div class="child" style="width: 100px">
      <h6 style="color: blue; margin: 0">
        At
      </h6>
      <p style="margin: 5px">{{ticketData.selectedDeparture.returnLocationHour.departureTime}}</p>
    </div>
    <div class="child" style="width: 200px">
      <h6 style="color: blue; margin: 0">
        To
      </h6>
      <p style="margin: 5px">{{ticketData.startLocation.townOrMunicipality}},
        {{ticketData.startLocation.country.name}} {{ticketData.startLocation.country.code}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div style="padding-top: 30px; text-align: center">
    <ngx-barcode [bc-value]="ticketData.purchasedTicketNo" [bc-display-value]="true" [bc-height]="30"></ngx-barcode>
  </div>
</div>
<div style="margin-top: -70px;" mat-dialog-actions align="end">
  <button mat-icon-button (click)="downloadTicket()">
    <mat-icon>save</mat-icon>
  </button>
</div>
