<h2 mat-dialog-title> {{title}}</h2>
<div mat-dialog-content>
  <p>{{comment}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="deny()">{{denyButton}}</button>
  <button mat-button [mat-dialog-close]="confirm()" cdkFocusInitial>{{confirmButton}}</button>
</div>
