<mat-grid-list cols="10">

  <mat-grid-tile colspan="7" rowspan="4"> <!--todo: rowspan is updated-->
    <agm-map [zoom]="mapZoom" [latitude]="mapLatitude" [longitude]="mapLongitude">
      <agm-marker *ngIf="showMarker"
                  [latitude]="latitude" [longitude]="longitude" [iconUrl]="'../../../assets/bus-pin-icon.png'">
        <agm-info-window>
          <strong>{{pinTitle}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="2" *ngIf="typeOfUser === 'BUSINESS_USER'">
    <app-track-personal-vehicle
      (browsePersonalVehicles)="showActiveVehicles($event)"></app-track-personal-vehicle>
  </mat-grid-tile>
  <mat-grid-tile colspan="3" rowspan="3">
    <app-browse-vehicles-using-destinations
      (browseVehicles)="showActiveVehicles($event)"></app-browse-vehicles-using-destinations>
  </mat-grid-tile>

</mat-grid-list>

