<mat-card class="home-card-description-destination">
  <div align="center" style="margin: 30px auto;">
    <img width="65" height="65" src="{{cardData.icon}}">
  </div>

  <mat-card-content style="text-align: center">
    <h3>{{cardData.title}}</h3>
    <p>{{cardData.content}}</p>

    <button mat-button *ngIf="cardData.buttonTitle !== '' && cardData.buttonTitle !== 'NO_BUTTON'">
      {{cardData.buttonTitle}}</button>
  </mat-card-content>
</mat-card>
