<div class="parent">
  <div class="child">
    <div style="margin: 50px">
      <app-add-ticket-type-and-dates [returnTicket]="returnTicketValue"></app-add-ticket-type-and-dates>
    </div>
  </div>
  <div class="child">
    <div style="margin: 50px">
      <app-add-ticket-start-dest-end-dest
        (returnTicketStatus)="ticketStatus($event)"></app-add-ticket-start-dest-end-dest>
    </div>

    <div style="text-align: center">
      <button class="add-ticket-submit-button" (click)="submit()" mat-raised-button color="primary">Submit Ticket
      </button>
    </div>
  </div>
</div>
